# Ignora file di log
*.log

# Ignore .idea directory
.idea/

# Ignora cartella di build
/build/

# Ignore datasets
#/datasets/*
#!datasets/preprocessed/
#/datasets/preprocessed/clinical_mRNA(protein_coding).csv
# Ignora file temporanei di editor
.vscode/
*.swp

# Ignora file specifici di sistema
.DS_Store
Thumbs.db